.mainchat {
    height: 100dvh;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mainchat .mainchat__header {
    background: linear-gradient(135deg, #4e8ef7, #5b62ea);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.mainchat .mainchat__input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease;
    background-color: #ffffff;
}

.mainchat .sender-timestamp {
    font-size: 12px;
}

.mainchat button {
    background-color: #13c9c9a4;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.mainchat button svg {
    width: 24px;
    padding: 0px 15px;
    left: 2px;
    position: relative;
}

.mainchat .write {
    display: flex;
}

.mainchat button:hover {
    background-color: rgba(19, 201, 201, 0.527);
}

.mainchat .sender {
    font-size: 12px;
    font-weight: 600;
    color: #13c9c9;
}

.mainchat .messages-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    padding-top: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url('https://rare-gallery.com/mocahbig/428735-minimalism-white-bright-men-falling-simple-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainchat .message {
    padding: 4px 10px;
    background-color: #eff2f7;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #333;
    max-width: calc(50vw - 10px);
    word-wrap: break-word;
    transition: transform 0.3s ease;
}

.mainchat .message-i {
    padding-right: 10px;
}

.mainchat .yours {
    align-self: flex-end;
    padding-left: 15px;
    border-radius: 8px 8px 0 8px;
    background-color: #13c9c944 !important;
}

.mainchat .not-yours {
    align-self: flex-start;
    padding-right: 15px;
    border-radius: 8px 8px 8px 0px;
    background-color: #ffffff;
}

.mainchat .message p {
    margin: 0;
    font-size: 14px;
}

.mainchat button:disabled {
    background-color: #d0d0d0;
    cursor: not-allowed;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.timestamp {
    font-size: 12px;
    margin-left: 10px;
    color: #666;
    font-weight: 500;
}

.mainchat .message {
    animation: fadeIn 0.1s ease-out;
}

.mainchat .messages-list::-webkit-scrollbar {
    width: 8px;
}

.mainchat .messages-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.mainchat .messages-list::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

@media (max-width: 600px) {
    .mainchat .message {
        max-width: calc(100vw - 120px);
    }

    .mainchat button svg {
        padding: 0px;
    }
}